doctype html
html(lang='en')
    head 
        title= title 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initisal-scale=1')
        link(rel="stylesheet", href="public/stylesheets/categories.css")
    body 
        div(class='mainContainer')
            h1(class='title') Lord of the Rings